<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='pure_css/pure-min.css')}}" rel="stylesheet">
</head>
<body>
<p>Web Text Editor</p>
<div>
    <p>Enter some text to save.</p>
    <form class='pure-form' method="POST" action="/">
        <input type="text" name="entry_text">
        <button type="submit" name="submit_button" class="pure-button pure-button-primary" value="pressed_1">Add Line</button>
        <button type="submit" name="submit_button" class="pure-button pure-button-primary" value="pressed_2">Save</button>
    </form>
</div>

<div>
{% if entries %}
{% for entry in entries %}
    <p>{{entry}}</p>
    {% endfor %}
    {% endif %}
</div>
</body>
</html>